In [11]:
#pip install pandas openpyxl

In [12]:
import pandas as pd

In [13]:
# Load the Excel file
file_path = "partA.xlsx"
df = pd.read_excel(file_path, engine="openpyxl")
df2 = pd.read_excel(file_path, engine="openpyxl")

In [14]:
df.head()

,RESPONSE,A1:AREA,A2:GROUP,B3:AGE,B5:SEX,B6:M-STATUS,B7:EDUCATION,B8:HH_SIZE,C1:TOT_INCOME/A,C2:INCOME/B/FISH,...,J6:AVE_FBP-PERC,J7.1,J7.2,J7.3,J7.4,J7.5,J7:AVE_FBP-CONT,K:COMMENTS,CD: P_SCORE,CV: PS_WT
0,1.0,ABULUG,1.0,33.0,1.0,2.0,3.0,2.0,1.0,1.0,...,4.666667,3.0,3.0,5.0,5.0,5.0,4.2,NaN,NaN,NaN
1,2.0,ABULUG,1.0,57.0,1.0,3.0,3.0,2.0,1.0,1.0,...,5.000000,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN
2,3.0,ABULUG,1.0,45.0,1.0,2.0,3.0,2.0,1.0,1.0,...,4.833333,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN
3,4.0,ABULUG,1.0,32.0,1.0,1.0,3.0,3.0,1.0,1.0,...,4.333333,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN
4,5.0,ABULUG,1.0,38.0,1.0,1.0,3.0,1.0,1.0,1.0,...,5.000000,1.0,5.0,5.0,5.0,5.0,4.2,NaN,NaN,NaN

In [15]:
# Drop unnecessary columns
columns_to_remove = ["K:COMMENTS", "CD: P_SCORE", "CV: PS_WT", "RESPONSE"]
df.drop(columns=columns_to_remove, inplace=True, errors='ignore')

In [16]:
# Convert columns to integer where applicable to match replacement keys
columns_to_convert = [
    "A2:GROUP", "B5:SEX", "B6:M-STATUS", "B7:EDUCATION", "B8:HH_SIZE",
    "E1:A_DRINK-H2O", "E2:A_DOMESTIC-H2O", "E3:A_POWER-SUP", "E4:A_COOK-FUEL", "E5:A_NET-SUBS",
    "F1:A_HOUSE-OWN", "F2:A_HOUSE-ACQ", "F3:A_HOUSE-BUILT", "F4:A_OTHER-RP",
    "F1:B_HOUSE-OWN", "F2:B_HOUSE-ACQ", "F3:B_HOUSE-BUILT", "F4:B_OTHER-RP",
    "G1:A_SSS", "G2:A_GSIS", "G3:A_PhilHealth", "G4:A_PN-IN", "G5:A_LIFE-IN", "G6:A_HEALTH-IN",
    "H1:4Ps", "H2:RET_P", "H3:SPES", "H4:AL_P", "H5:TBE", "H6:F_PC", "H7:AS_P", "H8:E/CW_P",
    "I1:FD_Y", "I2:A/C_M", "I4:TFA", "I5:TFV",
    "J1:BOAT_AGREE", "J2:BOAT_TYPE", "J3:BOAT_DESIGN", "J4:BOAT_COND", "J4: REASON-NO",
    "D1.1:A_BIKE", "D1.2:A_MOTORC", "D1.3:A_TRICYCLE", "D1.4:A_CAR", "D1.5:A_JEEP", "D1.6:A_TRUCK", "D1.7:A_OTHERS",
    "D2.1:A_TV", "D2.2:A_DVD", "D2.3:A_WASH-M", "D2.4:A_AC", "D2.5:A_E-FAN", "D2.6:A_FRIDGE", "D2.7:A_STOVE",
    "D2.8:A_E-HEATER", "D2.9:A_FURNITURE", "D2.10:A_OTHERS", "D3.1:A_CP", "D3.2:A_LANDLINE", "D3.3:A_COMPUTER",
    "D3.4:A_OTHERS"
]
for col in columns_to_convert:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Debug: Print unique values before replacement
for col in columns_to_convert:
    if col in df.columns:
        print(f"Unique values before replacing {col}: {df[col].unique()}")

Unique values before replacing A2:GROUP: [ 1.  0. nan]
Unique values before replacing B5:SEX: [ 1.  2. nan]
Unique values before replacing B6:M-STATUS: [ 2.  3.  1.  4. nan  0.]
Unique values before replacing B7:EDUCATION: [ 3.  2.  4.  1.  5. nan]
Unique values before replacing B8:HH_SIZE: [ 2.  3.  1.  4. nan 11.  0.  6.]
Unique values before replacing E1:A_DRINK-H2O: [ 1.  2.  4.  3. nan]
Unique values before replacing E2:A_DOMESTIC-H2O: [ 1.  3.  4.  2. nan]
Unique values before replacing E3:A_POWER-SUP: [ 3.  0.  1.  2. nan]
Unique values before replacing E4:A_COOK-FUEL: [ 2.  4.  3. nan  1.]
Unique values before replacing E5:A_NET-SUBS: [ 0.  1. nan  2.  3.]
Unique values before replacing F1:A_HOUSE-OWN: [ 3.  1.  2. nan  0.]
Unique values before replacing F2:A_HOUSE-ACQ: [ 0. nan  1.  2.  3.]
Unique values before replacing F3:A_HOUSE-BUILT: [ 2.  1.  4. nan  3.  0.]
Unique values before replacing F4:A_OTHER-RP: [ 2.  1.  4.  0. nan  3.]
Unique values before replacing F1:B_HOUSE-OWN: [ 3.  1.  2. nan  4.]
Unique values before replacing F2:B_HOUSE-ACQ: [ 0. nan  1.  2.  3.]
Unique values before replacing F3:B_HOUSE-BUILT: [ 2.  1.  4. nan  3.  0.]
Unique values before replacing F4:B_OTHER-RP: [ 2.  1.  4.  0. nan]
Unique values before replacing G1:A_SSS: [ 0.  1. nan  2.]
Unique values before replacing G2:A_GSIS: [ 0.  1. nan]
Unique values before replacing G3:A_PhilHealth: [ 0.  1. nan]
Unique values before replacing G4:A_PN-IN: [ 0.  1. nan]
Unique values before replacing G5:A_LIFE-IN: [ 0.  1. nan]
Unique values before replacing G6:A_HEALTH-IN: [ 0.  1. nan]
Unique values before replacing H1:4Ps: [0.  1.  0.5 nan 2.  3. ]
Unique values before replacing H2:RET_P: [0.  1.  0.5 nan 2.  3. ]
Unique values before replacing H3:SPES: [0.  1.  0.5 nan 2.  3. ]
Unique values before replacing H4:AL_P: [0.  1.  nan 0.5 2.  3. ]
Unique values before replacing H5:TBE: [0.  1.  0.5 nan 3.  2. ]
Unique values before replacing H6:F_PC: [0.  1.  nan 0.5 2.  3. ]
Unique values before replacing H7:AS_P: [1.  0.  nan 0.5 2.  3. ]
Unique values before replacing H8:E/CW_P: [0.  0.5 1.  nan 2.  3. ]
Unique values before replacing I1:FD_Y: [ 2.  1.  4.  3. nan  6.]
Unique values before replacing I2:A/C_M: [ 2.  1. nan  0.  4.]
Unique values before replacing I4:TFA: [ 1.  2.  3. nan  4.]
Unique values before replacing I5:TFV: [ 1.  3.  2.  4. nan  5.  0.]
Unique values before replacing J1:BOAT_AGREE: [ 2.  1. nan]
Unique values before replacing J2:BOAT_TYPE: [ 1.  2. nan  3.  4.]
Unique values before replacing J3:BOAT_DESIGN: [ 4.  2. nan  1.  5.  6.  0.]
Unique values before replacing J4:BOAT_COND: [ 1.  2. nan  4.  0.]
Unique values before replacing J4: REASON-NO: [ 0.  1.  2.  4.  3. nan  5.]
Unique values before replacing D1.1:A_BIKE: [ 0.  1. nan]
Unique values before replacing D1.2:A_MOTORC: [ 0.  1. nan]
Unique values before replacing D1.3:A_TRICYCLE: [ 0.  1. nan]
Unique values before replacing D1.4:A_CAR: [ 0. nan  1.]
Unique values before replacing D1.5:A_JEEP: [ 0. nan  1.]
Unique values before replacing D1.6:A_TRUCK: [ 0. nan  1.]
Unique values before replacing D1.7:A_OTHERS: [ 0.  1. nan]
Unique values before replacing D2.1:A_TV: [ 0.  1. nan]
Unique values before replacing D2.2:A_DVD: [ 0.  1. nan]
Unique values before replacing D2.3:A_WASH-M: [ 0.  1. nan]
Unique values before replacing D2.4:A_AC: [ 1.  0. nan]
Unique values before replacing D2.5:A_E-FAN: [ 0.  1. nan]
Unique values before replacing D2.6:A_FRIDGE: [ 0.  1. nan]
Unique values before replacing D2.7:A_STOVE: [ 0.  1. nan 11.]
Unique values before replacing D2.8:A_E-HEATER: [ 0.  1. nan]
Unique values before replacing D2.9:A_FURNITURE: [ 0.  1. nan]
Unique values before replacing D2.10:A_OTHERS: [ 1.  0. nan]
Unique values before replacing D3.1:A_CP: [ 0.  1. nan]
Unique values before replacing D3.2:A_LANDLINE: [ 0. nan  1.]
Unique values before replacing D3.3:A_COMPUTER: [ 0.  1. nan]
Unique values before replacing D3.4:A_OTHERS: [ 1.  0. nan]

In [17]:
# Debug: Print dataset before replacements
print("Before replace:", df.shape)

Before replace: (2135, 211)

In [18]:
# Define categorical replacements
replacements = {
    "A2:GROUP": {1: "BENEFICIARY", 0: "NON BENEFICIARY"},
    "B5:SEX": {1: "Male", 2: "Female"},
    "B6:M-STATUS": {1: "Single", 2: "Married", 3: "Livedin", 4: "Widowed"},
    "B7:EDUCATION": {
        1: "No formal education", 2: "Elementary",
        3: "High School", 4: "College", 5: "Post-graduate"
    },
    "C1:TOT_INCOME/A": {1: "10K", 2: "10K to 20K", 3: " 20K to 30K", 4: "30K to 40K", 5:"40K to 50K", 6: "50K"},
    "C2:INCOME/B/FISH": {1: "10K", 2: "10K to 20K", 3: " 20K to 30K", 4: "30K to 40K", 5:"40K to 50K", 6: "50K"},
    "C4:INCOME/B/ALT": {1: "10K", 2: "10K to 20K", 3: " 20K to 30K", 4: "30K to 40K", 5:"40K to 50K", 6: "50K"},
    "B8:HH_SIZE": {1: "1-3 members", 2: "4-6 members", 3: "7-9 members", 4: "≥10 members"},
    "E1:A_DRINK-H2O": {1: "Gripo", 2: "Mineral water", 3: "Balon", 4: "Iba pa"},
    "E2:A_DOMESTIC-H2O": {1: "Balon", 2: "Water district", 3: "Ilog/lawa", 4: "Iba pa"},
    "E3:A_POWER-SUP": {0: "Wala", 1: "Solar Power", 2: "Komersyal", 3: "Iba pa"},
    "E4:A_COOK-FUEL": {1: "Kahoy", 2: "Uling", 3: "LPG", 4: "Iba pa"},
    "E5:A_NET-SUBS": {0: "Hindi", 1: "Oo"},
    "F1:A_HOUSE-OWN": {1: "Renta", 2: "Pag-aari", 3: "Iba pa"},
    "G1:A_SSS": {0: "Hindi", 1: "Oo"},
    "G2:A_GSIS": {0: "Hindi", 1: "Oo"},
    "G3:A_PhilHealth": {0: "Hindi", 1: "Oo"},
    "G4:A_PN-IN": {0: "Hindi", 1: "Oo"},
    "G5:A_LIFE-IN": {0: "Hindi", 1: "Oo"},
    "G6:A_HEALTH-IN": {0: "Hindi", 1: "Oo"},
    "D1.1:A_BIKE": {1: "Meron", 0: "Wala"},
    "D1.2:A_MOTORC": {1: "Meron", 0: "Wala"},
    "D1.3:A_TRICYCLE": {1: "Meron", 0: "Wala"},
    "D1.4:A_CAR": {1: "Meron", 0: "Wala"},
    "D1.5:A_JEEP": {1: "Meron", 0: "Wala"},
    "D1.6:A_TRUCK": {1: "Meron", 0: "Wala"},
    "D1.7:A_OTHERS": {1: "Meron", 0: "Wala"},
    "D2.1:A_TV": {1: "Meron", 0: "Wala"},
    "D2.2:A_DVD": {1: "Meron", 0: "Wala"},
    "D2.3:A_WASH-M": {1: "Meron", 0: "Wala"},
    "D2.4:A_AC": {1: "Meron", 0: "Wala"},
    "D2.5:A_E-FAN": {1: "Meron", 0: "Wala"},
    "D2.6:A_FRIDGE": {1: "Meron", 0: "Wala"},
    "D2.7:A_STOVE": {1: "Meron", 0: "Wala"},
    "D2.8:A_E-HEATER": {1: "Meron", 0: "Wala"},
    "D2.9:A_FURNITURE": {1: "Meron", 0: "Wala"},
    "D2.10:A_OTHERS": {1: "Meron", 0: "Wala"},
    "D3.1:A_CP": {1: "Meron", 0: "Wala"},
    "D3.2:A_LANDLINE": {1: "Meron", 0: "Wala"},
    "D3.3:A_COMPUTER": {1: "Meron", 0: "Wala"},
    "D3.4:A_OTHERS": {1: "Meron", 0: "Wala"},
    "E1:B_DRINK-H2O": {1: "Gripo", 2: "Mineral water", 3: "Balon", 4: "Iba pa"},
    "E2:B_DOMESTIC-H2O": {1: "Balon", 2: "Water district", 3: "Ilog/lawa", 4: "Iba pa"},
    "E3:B_POWER-SUP": {0: "Wala", 1: "Solar Power", 2: "Komersyal", 3: "Iba pa"},
    "E4:B_COOK-FUEL": {1: "Kahoy", 2: "Uling", 3: "LPG", 4: "Iba pa"},
    "E5:B_NET-SUBS": {0: "Hindi", 1: "Oo"},
    "F1:B_HOUSE-OWN": {1: "Renta", 2: "Pag-aari", 3: "Iba pa"},
    "G1:B_SSS": {0: "Hindi", 1: "Oo"},
    "G2:B_GSIS": {0: "Hindi", 1: "Oo"},
    "G3:B_PhilHealth": {0: "Hindi", 1: "Oo"},
    "G4:B_PN-IN": {0: "Hindi", 1: "Oo"},
    "G5:B_LIFE-IN": {0: "Hindi", 1: "Oo"},
    "G6:B_HEALTH-IN": {0: "Hindi", 1: "Oo"},
    "D1.1:B_BIKE": {1: "Meron", 0: "Wala"},
    "D1.2:B_MOTORC": {1: "Meron", 0: "Wala"},
    "D1.3:B_TRICYCLE": {1: "Meron", 0: "Wala"},
    "D1.4:B_CAR": {1: "Meron", 0: "Wala"},
    "D1.5:B_JEEP": {1: "Meron", 0: "Wala"},
    "D1.6:B_TRUCK": {1: "Meron", 0: "Wala"},
    "D1.7:B_OTHERS": {1: "Meron", 0: "Wala"},
    "D2.1:B_TV": {1: "Meron", 0: "Wala"},
    "D2.2:B_DVD": {1: "Meron", 0: "Wala"},
    "D2.3:B_WASH-M": {1: "Meron", 0: "Wala"},
    "D2.4:B_AC": {1: "Meron", 0: "Wala"},
    "D2.5:B_E-FAN": {1: "Meron", 0: "Wala"},
    "D2.6:B_FRIDGE": {1: "Meron", 0: "Wala"},
    "D2.7:B_STOVE": {1: "Meron", 0: "Wala"},
    "D2.8:B_E-HEATER": {1: "Meron", 0: "Wala"},
    "D2.9:B_FURNITURE": {1: "Meron", 0: "Wala"},
    "D2.10:B_OTHERS": {1: "Meron", 0: "Wala"},
    "D3.1:B_CP": {1: "Meron", 0: "Wala"},
    "D3.2:B_LANDLINE": {1: "Meron", 0: "Wala"},
    "D3.3:B_COMPUTER": {1: "Meron", 0: "Wala"},
    "D3.4:B_OTHERS": {1: "Meron", 0: "Wala"},
    "F2:A_HOUSE-ACQ": {1: "Binayaran sa halaga", 2: "Inutang/Hulugan", 3: "Minana", 4: "Iba pa"},
    "F3:A_HOUSE-BUILT": {1: "Isang palapag (bungalow), gawa sa bato/semento", 2: "Dalawang palapag, gawa sa bato/semento",
                           3: "Apartment-type, gawa sa bato/semento", 4: "Bahay kubo/ di sementado / iba pa"},
    "F4:A_OTHER-RP": {1: "Bahay at lupa", 2: "Bahay lang", 3: "Kondominyum", 4: "Iba pa"},
    "F2:B_HOUSE-ACQ": {1: "Binayaran sa buong halaga", 2: "Inutang/Hulugan", 3: "Minana", 4: "Iba pa"},
    "F3:B_HOUSE-BUILT": {1: "Isang palapag (bungalow), gawa sa bato/semento", 2: "Dalawang palapag, gawa sa bato/semento",
                           3: "Apartment-type, gawa sa bato/semento", 4: "Bahay kubo/ di sementado / iba pa"},
    "F4:B_OTHER-RP": {1: "Bahay at lupa", 2: "Bahay lang", 3: "Kondominyum", 4: "Iba pa"},
    "H1:4Ps": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H2:RET_P": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H3:SPES": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H4:AL_P": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H5:TBE": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H6:F_PC": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H7:AS_P": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "H8:E/CW_P": {0.5: "Di sigurado", 0: "Hindi", 1: "Oo", 2: "Hindi", 3: "Di sigurado"},
    "I1:FD_Y": {1: "Wala pang isang taon", 2: "1 hanggang 5 years", 3: "6 hanggang 10 taon", 4: "Mahigit 10 taon", },
    "I2:A/C_M": {4: "Hindi", 0: "Hindi", 3: "Hindi", 1: "Hindi", 2:"Oo, tukuyin"},
    "I4:TFA": {1: "Ang artisinal o tradisyunal na pangingisda", 2: "Ang artisinal o tradisyunal na pangingisda gamit maliit na bangka"
                "Pagpapatakbo ng medium-scale commercial fishing gamit ang ", 3:"Pagpapatakbo ng medium-scale commercial fishing gamit ang mga bangkang may motor"},
    "I5:TFV": {1: "Wala, hindi ako gumagamit ng anumang sasakyang pandagat", 2: "Hindi-motorisadong kano o bangka", 3: "Maliit na motorisadong bangka na may mababang makina", 4:"Saktong sukat na motorisadong bangka", 5:"Malaking bangka / Barko / Fishing Trawler"}
}

In [19]:
# Ensure values are converted to integers before replacing
def to_int(value):
    try:
        return int(float(value))  # Converts '1.0' -> 1
    except:
        return value  # Return original if conversion fails

# Apply replacements
for col, mapping in replacements.items():
    if col in df.columns:
        df[col] = df[col].map(lambda x: mapping.get(to_int(x), x))

# Debug: Print unique values after replacement
for col in replacements.keys():
    if col in df.columns:
        print(f"Unique values after replacing {col}: {df[col].unique()}")

Unique values after replacing A2:GROUP: ['BENEFICIARY' 'NON BENEFICIARY' nan]
Unique values after replacing B5:SEX: ['Male' 'Female' nan]
Unique values after replacing B6:M-STATUS: ['Married' 'Livedin' 'Single' 'Widowed' nan 0.0]
Unique values after replacing B7:EDUCATION: ['High School' 'Elementary' 'College' 'No formal education'
 'Post-graduate' nan]
Unique values after replacing C1:TOT_INCOME/A: ['10K' '10K to 20K' nan ' 20K to 30K' '30K to 40K' '40K to 50K' '50K' 0.0]
Unique values after replacing C2:INCOME/B/FISH: ['10K' '10K to 20K' '30K to 40K' nan ' 20K to 30K' '40K to 50K' '50K' 0.0]
Unique values after replacing C4:INCOME/B/ALT: ['10K' '10K to 20K' ' 20K to 30K' '30K to 40K' nan '40K to 50K' '50K' 0.0]
Unique values after replacing B8:HH_SIZE: ['4-6 members' '7-9 members' '1-3 members' '≥10 members' nan 11.0 0.0 6.0]
Unique values after replacing E1:A_DRINK-H2O: ['Gripo' 'Mineral water' 'Iba pa' 'Balon' nan]
Unique values after replacing E2:A_DOMESTIC-H2O: ['Balon' 'Ilog/lawa' 'Iba pa' 'Water district' nan]
Unique values after replacing E3:A_POWER-SUP: ['Iba pa' 'Wala' 'Solar Power' 'Komersyal' nan]
Unique values after replacing E4:A_COOK-FUEL: ['Uling' 'Iba pa' 'LPG' nan 'Kahoy']
Unique values after replacing E5:A_NET-SUBS: ['Hindi' 'Oo' nan 2.0 3.0]
Unique values after replacing F1:A_HOUSE-OWN: ['Iba pa' 'Renta' 'Pag-aari' nan 0.0]
Unique values after replacing G1:A_SSS: ['Hindi' 'Oo' nan 2.0]
Unique values after replacing G2:A_GSIS: ['Hindi' 'Oo' nan]
Unique values after replacing G3:A_PhilHealth: ['Hindi' 'Oo' nan]
Unique values after replacing G4:A_PN-IN: ['Hindi' 'Oo' nan]
Unique values after replacing G5:A_LIFE-IN: ['Hindi' 'Oo' nan]
Unique values after replacing G6:A_HEALTH-IN: ['Hindi' 'Oo' nan]
Unique values after replacing D1.1:A_BIKE: ['Wala' 'Meron' nan]
Unique values after replacing D1.2:A_MOTORC: ['Wala' 'Meron' nan]
Unique values after replacing D1.3:A_TRICYCLE: ['Wala' 'Meron' nan]
Unique values after replacing D1.4:A_CAR: ['Wala' nan 'Meron']
Unique values after replacing D1.5:A_JEEP: ['Wala' nan 'Meron']
Unique values after replacing D1.6:A_TRUCK: ['Wala' nan 'Meron']
Unique values after replacing D1.7:A_OTHERS: ['Wala' 'Meron' nan]
Unique values after replacing D2.1:A_TV: ['Wala' 'Meron' nan]
Unique values after replacing D2.2:A_DVD: ['Wala' 'Meron' nan]
Unique values after replacing D2.3:A_WASH-M: ['Wala' 'Meron' nan]
Unique values after replacing D2.4:A_AC: ['Meron' 'Wala' nan]
Unique values after replacing D2.5:A_E-FAN: ['Wala' 'Meron' nan]
Unique values after replacing D2.6:A_FRIDGE: ['Wala' 'Meron' nan]
Unique values after replacing D2.7:A_STOVE: ['Wala' 'Meron' nan 11.0]
Unique values after replacing D2.8:A_E-HEATER: ['Wala' 'Meron' nan]
Unique values after replacing D2.9:A_FURNITURE: ['Wala' 'Meron' nan]
Unique values after replacing D2.10:A_OTHERS: ['Meron' 'Wala' nan]
Unique values after replacing D3.1:A_CP: ['Wala' 'Meron' nan]
Unique values after replacing D3.2:A_LANDLINE: ['Wala' nan 'Meron']
Unique values after replacing D3.3:A_COMPUTER: ['Wala' 'Meron' nan]
Unique values after replacing D3.4:A_OTHERS: ['Meron' 'Wala' nan]
Unique values after replacing E1:B_DRINK-H2O: ['Gripo' 'Mineral water' 'Iba pa' 'Balon' nan]
Unique values after replacing E2:B_DOMESTIC-H2O: ['Balon' 'Ilog/lawa' 'Iba pa' 'Water district' nan]
Unique values after replacing E3:B_POWER-SUP: ['Iba pa' 'Wala' 'Solar Power' 'Komersyal' nan 4.0]
Unique values after replacing E4:B_COOK-FUEL: ['Uling' 'Iba pa' 'LPG' nan 'Kahoy' 0.0]
Unique values after replacing E5:B_NET-SUBS: ['Hindi' 'Oo' nan 2.0 3.0]
Unique values after replacing F1:B_HOUSE-OWN: ['Iba pa' 'Renta' 'Pag-aari' nan 4.0]
Unique values after replacing G1:B_SSS: ['Hindi' 'Oo' nan]
Unique values after replacing G2:B_GSIS: ['Hindi' 'Oo' nan]
Unique values after replacing G3:B_PhilHealth: ['Hindi' 'Oo' nan]
Unique values after replacing G4:B_PN-IN: ['Hindi' 'Oo' nan]
Unique values after replacing G5:B_LIFE-IN: ['Hindi' 'Oo' nan]
Unique values after replacing G6:B_HEALTH-IN: ['Hindi' 'Oo' nan]
Unique values after replacing D1.1:B_BIKE: ['Meron' 'Wala' nan]
Unique values after replacing D1.2:B_MOTORC: ['Wala' 'Meron' nan]
Unique values after replacing D1.3:B_TRICYCLE: ['Wala' 'Meron' nan]
Unique values after replacing D1.4:B_CAR: ['Wala' nan 'Meron']
Unique values after replacing D1.5:B_JEEP: ['Wala' nan 'Meron']
Unique values after replacing D1.6:B_TRUCK: ['Wala' nan 'Meron']
Unique values after replacing D1.7:B_OTHERS: ['Meron' 'Wala' nan]
Unique values after replacing D2.1:B_TV: ['Wala' 'Meron' nan]
Unique values after replacing D2.2:B_DVD: ['Wala' 'Meron' nan]
Unique values after replacing D2.3:B_WASH-M: ['Wala' 'Meron' nan]
Unique values after replacing D2.4:B_AC: ['Meron' 'Wala' nan]
Unique values after replacing D2.5:B_E-FAN: ['Wala' 'Meron' nan]
Unique values after replacing D2.6:B_FRIDGE: ['Wala' 'Meron' nan]
Unique values after replacing D2.7:B_STOVE: ['Wala' 'Meron' nan]
Unique values after replacing D2.8:B_E-HEATER: ['Wala' 'Meron' nan]
Unique values after replacing D2.9:B_FURNITURE: ['Wala' 'Meron' nan]
Unique values after replacing D2.10:B_OTHERS: ['Meron' 'Wala' nan]
Unique values after replacing D3.1:B_CP: ['Wala' 'Meron' nan]
Unique values after replacing D3.2:B_LANDLINE: ['Wala' 'Meron' nan]
Unique values after replacing D3.3:B_COMPUTER: ['Wala' 'Meron' nan]
Unique values after replacing D3.4:B_OTHERS: ['Wala' 'Meron' nan]
Unique values after replacing F2:A_HOUSE-ACQ: [0.0 nan 'Binayaran sa halaga' 'Inutang/Hulugan' 'Minana']
Unique values after replacing F3:A_HOUSE-BUILT: ['Dalawang palapag, gawa sa bato/semento'
 'Isang palapag (bungalow), gawa sa bato/semento'
 'Bahay kubo/ di sementado / iba pa' nan
 'Apartment-type, gawa sa bato/semento' 0.0]
Unique values after replacing F4:A_OTHER-RP: ['Bahay lang' 'Bahay at lupa' 'Iba pa' 0.0 nan 'Kondominyum']
Unique values after replacing F2:B_HOUSE-ACQ: [0.0 nan 'Binayaran sa buong halaga' 'Inutang/Hulugan' 'Minana']
Unique values after replacing F3:B_HOUSE-BUILT: ['Dalawang palapag, gawa sa bato/semento'
 'Isang palapag (bungalow), gawa sa bato/semento'
 'Bahay kubo/ di sementado / iba pa' nan
 'Apartment-type, gawa sa bato/semento' 0.0]
Unique values after replacing F4:B_OTHER-RP: ['Bahay lang' 'Bahay at lupa' 'Iba pa' 0.0 nan]
Unique values after replacing H1:4Ps: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing H2:RET_P: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing H3:SPES: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing H4:AL_P: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing H5:TBE: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing H6:F_PC: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing H7:AS_P: ['Oo' 'Hindi' nan 'Di sigurado']
Unique values after replacing H8:E/CW_P: ['Hindi' 'Oo' nan 'Di sigurado']
Unique values after replacing I1:FD_Y: ['1 hanggang 5 years' 'Wala pang isang taon' 'Mahigit 10 taon'
 '6 hanggang 10 taon' nan 6.0]
Unique values after replacing I2:A/C_M: ['Oo, tukuyin' 'Hindi' nan]
Unique values after replacing I4:TFA: ['Ang artisinal o tradisyunal na pangingisda'
 'Ang artisinal o tradisyunal na pangingisda gamit maliit na bangkaPagpapatakbo ng medium-scale commercial fishing gamit ang '
 'Pagpapatakbo ng medium-scale commercial fishing gamit ang mga bangkang may motor'
 nan 4.0]
Unique values after replacing I5:TFV: ['Wala, hindi ako gumagamit ng anumang sasakyang pandagat'
 'Maliit na motorisadong bangka na may mababang makina'
 'Hindi-motorisadong kano o bangka' 'Saktong sukat na motorisadong bangka'
 nan 'Malaking bangka / Barko / Fishing Trawler' 0.0]

In [20]:
# Rename specific columns
df.rename(columns={"B8:HH_SIZE": "B8:Household Size"}, inplace=True)

# Save cleaned data
df.to_csv("cleaned_data.csv", index=False)

print("Processed data saved to cleaned_data.csv")

Processed data saved to cleaned_data.csv